{
  "semi": false,
  "singleQuote": true,
  "trailingComma": "all",
  "plugins": ["prettier-plugin-svelte", "prettier-plugin-marko"],
  "overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
