import Increment from './Increment.marko'
import Display from './Display.marko'

<div>
  <h1>How many of your friends like cats or dogs?</h1>
  <p>Press a button to add a counter of how many of your friends like cats or dogs.</p>
  <Increment animal='dogs'/>
  <Display animal='dogs'/>
  <Increment animal='cats'/>
  <Display animal='cats'/>
</div>
