import { store } from './store'

export interface Input {
  animal: 'dogs' | 'cats'
}

<button onClick() {
  store.setState((state) => ({ ...state, [input.animal]: state[input.animal] + 1 }))
}>
  My Friend Likes ${input.animal}
</button>
